.Car
{
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    width: 30%;
    padding: 10px;
    transition: border, box-shadow .3s;
}

.input
{
    outline: none;
}

.input.green
{
    border: 1px solid green;
}

.input.red
{
    border: 1px solid red;
}

.input.bold
{
    border: 2px solid green;
    font-weight: 900;
}

@media screen and (max-width: 786px){
    .Car
    {
        width: 100%; 
    }
}