.divStyle
{
  text-align: center;
}
.cars 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-btn
{
  background: white;
  border: 1px solid red;
  transition: all .5s;
  padding: 20px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.main-btn:hover
{
  background: red;
  color: white;
}

.main-btn:active
{
  background: darkred;
}